<div class="dialog">
    <div class="dialog__title">
        {{data.edit ? 'Edit link' : 'New link'}}
    </div>
    <form #linkForm="ngForm" class="dialog__form" autocomplete="off" (submit)="onSubmit()">
        <mat-form-field appearance="fill">
            <mat-label>Title</mat-label>
            <input matInput id="title" name="title" [(ngModel)]="data.model.title" #title="ngModel" required maxlength="10">
            <mat-hint align="end">{{data.model.title.length}} / 10</mat-hint>
            <mat-error *ngIf="title.errors?.required">Title is required</mat-error>
            <mat-error *ngIf="title.errors?.maxlength">Title must not be longer than 10 characters</mat-error>
        </mat-form-field>
  
        <mat-form-field appearance="fill">
            <mat-label>URL</mat-label>
            <input matInput id="url" name="url" [(ngModel)]="data.model.url" #url="ngModel" required>
            <mat-error *ngIf="url.errors?.required">URL is required</mat-error>
        </mat-form-field>
  
        <div class="dialog__row">
            <mat-icon class="delete-icon" *ngIf="data.edit" color="accent" (click)="onDelete()">delete</mat-icon>
            <div class="spacer"></div>
            <button type="button" mat-raised-button color="accent" (click)="onClose()">Cancel</button>
            <button type="submit" mat-raised-button color="primary" [disabled]="linkForm.invalid">Done</button>
        </div>
  
        
    </form>
  </div>